/*!
 * Categories to search:
 * list
 * details
 * forms
 * info
 * override
 */ 

/* for fixed nav bar */
body { 
	padding-top: 70px;
}

/* override */
.progress-bar-success{
	background-color: #9ce95d;
}
.progress-bar-warning{
	background-color: #f9b06c;
}
.progress-bar-danger{
	background-color: #f96d6f;
}


/* list */
.account-list{
	text-align: center;
}

.account-row .account-detail{
	max-height: 100px;
	overflow: auto;
}

.account-summary .progress{
	position: relative;
	margin-bottom: 5px;
}

.progress-bar.active{
	animation-timing-function: cubic-bezier(0.77,0,0.18,1);
}

.account-summary .progress-bar-left{
	animation-direction: reverse;
	float: left;
}

.account-summary .progress-bar-right{
	animation-direction: normal;
	float: right;
}

.account-summary .progress-label{
	position: absolute;
	width: 100%;
	left: 0;
}

/* details */
.detail-view-remarks:empty{
	display: none;
}

.detail-view .container{
	background-color: #F8F8F8;
	background-color: rgba(248, 248, 248, 0.95);
	border-top: dashed #ccc 1px; 
	margin-bottom: 10px;
}

.detail-view .detail-view-input{
	margin-bottom: 10px;
}

/* forms */
input.form-control.picker__input{
	background-color: inherit;
}

input[type='text']{
	border-radius: 0px;
}

input.abbreviation[name='name']{
	text-transform: uppercase;
}

.btn-cf{
	background-image: none;
	background-color: #777;
	border-radius: 50%;
	border: medium none;
	border: solid 2px;
	width: 50px;
	height: 50px;
	color: white;
	font-size: 19px;
	z-index: 1;
}

.btn-cf:hover{
  border-color: #ccc;
}

.btn-cf:active{
  border-color: #777;
}

.btn-cf.btn-cancel{
	background-color: #F96D6D;
	position: absolute;
	top: -25px;
	right: 10px;
}
.btn-cf.btn-edit{
	background-color: #00A7BD;
}
.btn-cf.btn-allocation{
	background-color: #F9B06C;
}
.btn-cf.btn-create{
	background-color: #9ce95d;
	font-weight: bold;
}
.btn-cf.btn-toggle{
	background-color: #e2e95d;
}

/* info */
.callout{
	padding:20px;
	margin:20px 0;
	border:1px solid #eee;
	border-left-width:5px;
	border-radius:3px;
}
.callout h4{
	margin-top:0;
	margin-bottom:5px;
}
.callout p:last-child{
	margin-bottom:0;
}
.callout code{
	border-radius:3px;
}
.callout+.callout{
	margin-top:-5px;
}
.callout-danger{
	border-left-color:#ce4844;
}
.callout-danger h4{
	color:#ce4844;
}
.callout-warning{
	border-left-color:#aa6708;
}
.callout-warning h4{
	color:#aa6708;
}
.callout-info{
	border-left-color:#1b809e;
}
.callout-info h4{
	color:#1b809e;
}
.customizer .callout h4{
	margin-top:0;
	margin-bottom:5px;
}